{% extends 'layout/base_app.html' %}
{% load crispy_forms_tags static compress %}
{% block title %}Default School Configuration{% endblock title %}
{% block extra_css %}
{% compress css %}
{{form.media.css}}
{% endcompress %}

{% endblock extra_css %}

{% block content %}
<div class="card">
    <form method="post" hx-boost="true" class="form" id="default_school_form">
        <div class="card-body">
            <div class="form-group">
                {% csrf_token %}
                {{form|crispy}}
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-success btn-lg btn-block">Submit</button>
        </div>
    </form>
</div>

<div class="card mt-3">
    <form method="post" action="{% url 'confurations:update_school_info' %}" hx-boost="true" class="form">
        <div class="card-body">
            <div class="form-group">
                {% csrf_token %}
                {{school_info_form|crispy }}
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-success btn-lg btn-block">Submit</button>
        </div>
    </form>
</div>
{% endblock content %}

{% block extra_js %}
{% compress js %}
{{form.media.js}}
{% endcompress %}
{% endblock extra_js %}