<!--begin::Info-->
<div class="d-flex align-items-center flex-wrap mr-1">
    <!--begin::Page Heading-->
    <div class="d-flex align-items-baseline flex-wrap mr-5">
      <!--begin::Page Title-->
      <h5 class="text-dark font-weight-bold my-1 mr-5">
        {% block page_name %}{{page_name}}{% endblock page_name %}
      </h5>
      <!--end::Page Title-->

      <!--begin::Breadcrumb-->
      <ul
        class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm"
      >
        <li class="breadcrumb-item">
          <a href="" class="text-muted">
            {% block app_name %}{{app_name}}{% endblock app_name %}
          </a>
        </li>
        <li class="breadcrumb-item">
          <a href="" class="text-muted">
            {% block page_name_link %}{{page_name}}{% endblock page_name_link %}
          </a>
        </li>
      </ul>
      <!--end::Breadcrumb-->
    </div>
    <!--end::Page Heading-->
  </div>
  <!--end::Info-->